$dark: #15233b;
$primary: #ee673e;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#primary {
  height: calc(100vh - 67.3px);
  overflow-y: scroll;
}

#sidebar{
  min-height: calc(100vh - 67.3px);
  overflow-y: hidden;
}

#contract,
#proposal,
#scope,
#invoice {
  max-width: 900px;
  width: 80%;
  margin: auto;
  padding: 100px 80px;
  box-shadow: 0px 4px 26px 3px rgba(193, 193, 193, 0.45);
  background-color: #ffffff;
  /* overflow-y: scroll; */
}

#proposal #scope,
#proposal #contract,
#proposal #invoice {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 0;
  box-shadow: none;
  background-color: #ffffff;
}

#proposal img#contract-document-img,
#proposal img#scope-document-img,
#proposal img#invoice-document-img {
  display: none !important;
}

#contract img {
  margin-left: -10px;
  margin-bottom: 40px;
}

#proposal img,
#invoice img,
#scope img {
  margin-left: 0px;
  margin-bottom: 40px;
}

// #scope-of-work .row {
//   margin-left: -10px;
// }

// #scope-of-work .row .col {
//   margin-left: 0 !important;
// }

span.entered-data {
  background-color: #ffe91f;
}

#primary {
  background-color: #FBFBFB;
}

#primary #contract ol { 
  counter-reset: item;
}

#primary #contract ol li {
  display: block;
  position: relative;
  margin-bottom: 35px;
}

#primary #contract ol li ol li {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

#primary #contract ol li h5 {
  margin-bottom: 25px;
}

#primary #contract ol p:before,
#primary #contract ol h5:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  position: absolute;
  top: 0px;
  left: -40px;
}

#primary #contract ol ol ol ol {
  padding-left: 50px;
}

#primary #contract ol ol ol ol ul {
  padding-left: 0;
}

#primary #contract ol ol ol ol ul li,
#primary #contract ol ul.dotted-list li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}

#primary #contract ol ol ol ol ul p:before,
#primary #contract ol ul.dotted-list li p::before {
  background-color: red;
  counter-increment: none;
  position: static;
  content: none;
}

#primary #contract ol ol ol ol p:before {
  left: -60px;
}

#sidebar .carousel.slide {
  height: 72vh;
  position: relative;
  padding-right: 20px;
  overflow-y: auto;
}

// #sidebar .carousel-caption {
//   position: relative;
// }

#sidebar .carousel-control-prev,
#sidebar .carousel-control-next {
  position: static;
  display: inline-block;
  width: auto;
  height: auto;
  top: 70vh;
  right: 20px;
  z-index: 5000;
  padding: 10px 15px;
  background: $primary;
}

#sidebar .carousel-control-prev-icon,
#sidebar .carousel-control-next-icon {
  width: 1rem;
  height: 1rem;
}

#sidebar .carousel-control-prev {
  margin-right: 20px;
}



/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";